Repository codestates/Gunsigi, pull requests merged in 2021-12, with the labels that each got.

#233 [PR] 리뷰 이미지 업로드 속도 개선
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/components/Footer.jsx
  client/src/components/ReviewModal.jsx
  client/yarn.lock
  server/controllers/auth.js
  server/controllers/reviews.js
  server/modules/image.js
  server/routes/auth.js
Labels: PR, Refactoring

#236 [Client] Refactor: login, signup, logout, mypage, modal
  README.md
  client/src/assets/NanumSquareR.otf
  client/src/components/DeleteReviewModal.jsx
  client/src/components/LoginModal.jsx
  client/src/components/MyInfoModal.jsx
  client/src/components/MyProducts.jsx
  client/src/components/Nav.jsx
  client/src/components/NavChange.jsx
  client/src/components/Profile.jsx
  client/src/components/WithdrawalModal.jsx
  client/src/components/login, signup/Login.jsx
  client/src/components/login, signup/Signup.jsx
  client/src/pages/Mypage.jsx
  client/src/styles/LoginSignup/Login.scss
  client/src/styles/Mypage/DeleteReviewModal.scss
  client/src/styles/Mypage/MyInfoModal.scss
  client/src/styles/Mypage/Profile.scss
  client/src/styles/Mypage/WithdrawalModal.scss
  client/src/styles/ReviewModal.scss
  client/src/utils/ModalScrollPrevent.js
  client/yarn.lock
  server/package-lock.json
Labels: Client, PR, Refactoring

#239 [PR] 회원탈퇴 시 데이터처리 속도개선, 리뷰이미지버그수정
  client/src/components/ReviewModal.jsx
  server/controllers/oauth.js
  server/controllers/users.js
  server/routes/oauth.js
Labels: PR

#242 [Client] 단위 및 핸들러 재정의, 마이페이지 탑버튼, 모달 닫기 버튼 리팩토링
  client/public/icons/icon_close.svg
  client/src/App.jsx
  client/src/components/CloseButton.jsx
  client/src/components/DeleteReviewModal.jsx
  client/src/components/ErrorModal.jsx
  client/src/components/LoginModal.jsx
  client/src/components/MyActivity.jsx
  client/src/components/MyInfoModal.jsx
  client/src/components/Nav.jsx
  client/src/components/PasswordSetting.jsx
  client/src/components/Profile.jsx
  client/src/components/Review.jsx
  client/src/components/ReviewModal.jsx
  client/src/components/SearchModal.jsx
  client/src/components/SignupModal.jsx
  client/src/components/TopButton.jsx
  client/src/components/WithdrawalModal.jsx
  client/src/components/Write.jsx
  client/src/components/login, signup/Login.jsx
  client/src/components/login, signup/Signup.jsx
  client/src/pages/ProductDetail.jsx
  client/src/styles/CloseButton.scss
  client/src/styles/ErrorModal.scss
  client/src/styles/LoginSignup/Login.scss
  client/src/styles/LoginSignup/Signup.scss
  client/src/styles/Mypage/MyInfoModal.scss
  client/src/styles/Mypage/WithdrawalModal.scss
  client/src/styles/PasswordSetting.scss
  client/src/styles/ProductDetail.scss
  client/src/styles/Reset.scss
  client/src/styles/ReviewModal.scss
  client/src/utils/ApiController.js
Labels: Client, PR, Refactoring

#244 [Refactoring] Jest 테스트코드 끝나고 커넥션정리, 코드정리
  server/__tests__/app.test.js
  server/controllers/bookmarks.js
  server/controllers/reviewLikes.js
  server/controllers/reviews.js
  server/controllers/users.js
Labels: server, Refactoring
